.footer {
  position: fixed;
  text-align: center;
  bottom: 0; 
  width: 100%; 
  height: 40px; 
  background-color: #222222;
}
.body {
  background-color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.header {
  background-color: #0F0A0A;
  color: #2292A4;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 2em;
}

.footer {
  background-color: #0F0A0A;
  color: #BDBF09;
  padding: 5px 0px 5px 0px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.th {
  background-color: #D96C06;
  color: white;
}
.table {
  border-radius: 7px;
}
